.bg-portfolio {
  background-image: url(../img/bg-portfolio.jpg);
}

.bg-portfolio h1 {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
}

.bg-portfolio h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: white;
  margin: 14px auto 10px auto;
}

.bg-portfolio p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  color: white;
  line-height: 20px;
}

.quote_clientes {
  padding: 0 0 60px 0;
}
.quote_clientes p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  position: relative;
  padding: 60px 0 20px 0;
  max-width: 460px;
  margin: 0 auto;
  color: black;
  font-style: italic;
  line-height: 25px;
  text-align: center;
}

.quote_clientes cite {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: black;
  float: right;
  margin-right: 280px;
  font-family: Arial, Helvetica, sans-serif;
}

.portfolio {
  margin: 0 auto;
  padding: 60px 0;
  display: block;
  width: 100%;
}

.portfolio-img :last-child {
  margin-top: 10px;
}
